/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: $background-color;
}

header {
  width: 100%;
  border-bottom: $medium-accent-color;
  .top-nav {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 68px;

    .top-bar-logo-container {
      font-size: 30px;
      height: 100%;
      flex-grow: 1;
      .top-bar-logo {
        width: 172px;
        width: 100%;
        height: 100%;
      }
    }

    .nav-menu-auth-anchor {
      font-size: 15px;
      font-weight: 600;
      align-items: center;
      color: $light-accent-color;
      width: 88px;
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      &:hover {
        cursor: pointer;
      }
      &::after {
        content: '';
        margin: 0 6px;
        background-image: image-url("auth-icon@2x.png");
        background-size: cover;
        width: 15px;
        height: 20px
      }
    }

    .nav-menu-auth {
      height: 100%;
      width: 100%;
    }

  }
}

.top-menu-user-menu-wrapper {
  font-size: 16px;
  font-weight: 600;

  align-items: center;
  color: $light-accent-color;
  width: 90px;
  background: image-url("user-logged.svg") center no-repeat;
  background-size: 25px 25px;
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

main, .top-nav {
  width: 85%;
  margin: 0 auto;
}

main {
  h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 auto;
  }
}

.big-button {
  width: 100%;
  font-family: 'Roboto Condensed';
  font-size: 20px;
  font-weight: 700;
  height: 45px;
  border-radius: 5px;
  background-color: $background-color;
  border: $lightgrey;
  &:hover{
    cursor: pointer;
    background-color: $blue;
    color: white;
  }
}

.ReactModal__Overlay {
  background-color: rgba(28, 26, 24, 0.85);
  transition: opacity .15s ease;
}

.ReactModal__Content {
  position: fixed;
  height: 450px;
  width: 600px;
  margin: 30px auto;
  padding: 0;
  background-color: $background-color;
  transform: translate(0,0);
  transition: transform .3 ease-out;

  .modal-header {
    width: 100%;
    height: 64px;
    border-bottom: 1px solid $dark-accent-color;
    border-top: 3px solid $light-accent-color;
    h3 {
      margin: 25px 0 17px 25px;
      color: $lightest-accent-color;
      font-size: 22px;
      font-weight: 800;
    }
  }
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    .modal-content-form, .modal-content-secondary {
      @extend .modal-content;
      width: 80%;
      align-items: center;
    }
    span, input, button {
      color: $lightest-accent-color;
      font-size: 18px;
      margin: 15px auto 0 auto ;
    }

    input {
      border: none;
      background-color: inherit;
      border-bottom: solid $light-accent-color 1px;
    }

    input, button {
      padding: 5px;
      width: 100%;
      background-color: $background-color;
    }

    button:hover {
      cursor: pointer;
      background-color: $medium-accent-color;
      color: white;
    }
  }
