/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "variables";

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  background: white;
}

header {
  width: 100%;
  .top-nav {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 68px;

    .top-bar-logo-container {
      font-size: 30px;
      color: $grey;
      width: 172px;
      height: 100%;
      .top-bar-logo {
        width: 100%;
        height: 100%;
      }
    }

    .nav-menu-auth {
      width: 68px;
      display: block;
      background: image-url("auth-icon@2x.png") 23px center no-repeat;
      background-size: 15px 21px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

main, .top-nav {
  width: 85%;
  margin: 0 auto;
}

main {
  h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 auto;
  }
}
