@import "variables";

.artist-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  section:not(first-of-type) {
    margin-top: 30px;
  }
}

.artist-detail, .artwork-detail {
  padding-top: 25px;
  display: grid;
  grid-template: auto auto / 38% 1fr;
  grid-gap: 5px;
}
.artwork-detail-image-container {
  .artist-detail-image, .artwork-detail-image {
    width: 100%;
  }
  span {
    //color: $medium-accent-color;
    display: inline-block;
    color: $light-accent-color;
    font-weight: normal;
    font: $sans;
  }
}

.artist-attribute-section, .artwork-attribute-section {
  padding-left: 20px;
  h3 {
    line-height: 26px;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 14px;
  }
}

.artist-attribute-item, .artwork-attribute-item {
  text-transform: capitalize;
  margin-bottom: 15px;
  a > span {
    text-transform: capitalize;
    padding-left: 4px;
  }
}

.artwork-detail-artist-name {
  display: inline-block;
  color: $light-accent-color;
  margin-bottom: 15px;
  text-decoration: none;
  font-size: 18px;
}

.artist-wiki {
  grid-column: 1 / span 3;
}
