@import "variables";

.bread-crumbs {
  max-width: 800px;
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  line-height: 50px;
  a, s {
    padding-right: 5px
  }
  a:last-of-type {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      cursor: normal;
    }
  }
}


