@import "variables";

.bread-crumbs {
  box-sizing: border-box;
  max-width: calc(100% - 80px);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  a, s {
    white-space: nowrap;
    line-height: 30px;
    max-width: 100%;
    display: inline-block;
    padding-right: 5px;
    padding-top: 10px;
  }
  a:last-of-type {
    white-space: nowrap;
    cursor: default;
  }
}


