@import "variables";

.bread-crumbs {
  max-width: 800px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  line-height: 50px;
  a, s {
    line-height: 30px;
    max-width: 100%;
    display: inline-block;
    padding-right: 5px;
    padding-top: 10px;
  }
  a:last-of-type {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      cursor: default;
    }
  }
}


