@import "variables";

header {
  width: 100%;
  height: 65px;
  border-bottom: $medium-accent-color solid 1px;
  .top-nav {
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
  }
}

.top-bar-side-nav {
  width: 200px;
  height: 100%;
  display: flex;
  .top-bar-edit-menu {
    display: block;
    height: 100%;
  }
}

.top-menu-edit-menu-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 68px;
  padding: 0 23px;
  color: $lightest-accent-color;
  a {
    line-height: 60px;
    font-size: 15px;
    font-weight: 800;
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
    &:hover {
      cursor: pointer;
    }
  }
  ul {
    position: absolute;
    width: 18rem;
    line-height: 40px;
    top: 60px;
    right: 12%;
    //240px;
    display: flex;
    justify-content: space-around;
    background-color: $dark-accent-color;
    li {
      width: 50%;
      height: 100%;
      a {
        margin: auto;
        text-align: center;
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
}

.nav-menu-auth-anchor {
      font-size: 15px;
      font-weight: 600;
      align-items: center;
      color: $lightest-accent-color;
      width: 88px;
      white-space: nowrap;
      display: flex;
      flex-wrap: nowrap;
      &:hover {
        cursor: pointer;
      }
      &::after {
        content: '';
        margin: 0 6px;
        background-image: image-url("auth-icon@2x.png");
        background-size: cover;
        width: 16px;
        height: 20px
      }
    }
    .nav-menu-auth {
      height: 100%;
      width: 100%;
    }

.top-menu-user-menu-wrapper {
  font-size: 16px;
  font-weight: 600;
  position: relative;
  align-items: center;
  color: $light-accent-color;
  border-left: solid 1px $dark-accent-color;
  border-right: solid 1px $dark-accent-color;
  width: 90px;
  background: image-url("user-logged.svg") center no-repeat;
  background-size: 25px 25px;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  &:hover {
    cursor: pointer;
  }
}

.top-menu-user-menu-list {
  position: absolute;
  right: 0px;
  background-color: $dark-accent-color;
  width: 210px;
  max-width: 210px;
  li {
    font-weight: 500;
    font-size: 14px;
    margin-top: 3px;
    padding: 5px 10px;
    a {
    }
    &:hover:not(:first-child) {
      background-color: $medium-accent-color;
      cursor: pointer;
    }
  }
  li:first-child {
    cursor: default;
    overflow-wrap: break-word;
    border-bottom: solid 1px $medium-accent-color;
    color: $medium-accent-color;
  }
}

.top-bar-logo-container {
  height: 100%;
  margin: 4px 0;
  padding: 0 0;
  .top-bar-logo {
    margin: 4px 0;
    display: block;
    font-size: 30px;
    width: 200px;
    height: 50px;
  }
}

main, .top-nav {
  width: 85%;
  margin: 0 auto;
}

