$grey: #555;
$lightgrey: #e7ebef;
$background-color: #100F0F;
$lightest-accent-color: #AFAC9C;
$light-accent-color: #828068;
//$medium-accent-color: #424037;
//$medium-accent-color: #5b564d;
//$medium-accent-color: #666666;
$medium-accent-color: #737373;
$dark-accent-color: #1C1A18;
$logo-color: #5b5a5d;
$sans-serif: "Roboto Condensed";
$sans: "Roboto";

